*{
    margin: 0px;
    padding: 0px;
}

.out-background{
    width: 100%;
    height: 567px;
}

.top-bar{
    width: 1200px;
    height: 567px;
    background-image: url("../images/background2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    float:left;
}

.top-bar{
    width: 1200px;
    height: 567px;
}